{% extends "app.html" %}

{% block navigation %}
{% set active_page = active_page|default("index") -%}

<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                 <img alt="GBCMA" src="/static/iskcon-logo.png" height="40px">
            </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if user_has_permission("proposals.read") %}
                <li class="{%if active_page=='proposals'%}active{%endif%}"><a href="/proposals">Proposals</a></li>
                {% endif %}

                {% if user_has_permission("users.read") %}
                <li class="{%if active_page=='users'%}active{%endif%}"><a href="/users">Users</a></li>
                {% endif %}
            </ul>

            {% if current_user.is_authenticated %}
            <p class="navbar-text navbar-right">
                <a id="account-profile-link" href="/account" class="navbar-link">{{ current_user.name }}</a>
            </p>
            {% else %}
            <p class="navbar-text navbar-right">
                <a id="account-login-link" href="/account/login" class="navbar-link">Login</a>
            </p>
            {% endif %}
        </div>

    </div>
</nav>
{% endblock %}
