{% extends "general.html" %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
    {% for proposal in proposals %}
        <tr>
            <td>
                <a href="/proposals/{{ proposal._id }}">{{ proposal.title }}</a>
            </td>
            <td><a href="/proposals/{{ proposal._id }}" class="delete">X</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="/proposals/new" class="btn btn-primary">Add</a>

<script>
    $(document).ready(function() {
        $(".delete").on("click", function (e) {
            e.preventDefault();
            var url = $(this).attr("href");
            $.ajax({
                url: url,
                type: 'DELETE',
                success: function(result) {}
            });
        });
    });
</script>
{% endblock %}