{% macro form(model, action='', allow_edit=true) -%}
<form action="{{ action }}" method="post" class="form-horizontal">
    <!-- Name -->
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input id="name"
                   name="name"
                   class="form-control input-lg"
                   placeholder="Name"
                   value="{{ model.name }}"
                   autocomplete="off"
                   {%if not allow_edit%}readonly{%endif%}>
        </div>
    </div>

    <!-- Login -->
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Login</label>
        <div class="col-sm-10">
            <input name="login"
                   class="form-control"
                   placeholder="Login"
                   value="{{ model.login }}"
                   autocomplete="off"
                   {%if not allow_edit%}readonly{%endif%}>
        </div>
    </div>

    <!-- Password -->
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input name="password"
                   class="form-control"
                   placeholder="Password"
                   value="{{ model.password }}"
                   autocomplete="off"
                   type="password"
                   {%if not allow_edit%}readonly{%endif%}>
        </div>
    </div>

    <!-- Role -->
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Role</label>
        <div class="col-sm-10">
            <select name="role" class="selectpicker form-control" title="Choose a role" {%if not allow_edit%}disabled{%endif%}>
                {% for role in roles %}
                    <option {%if model.role|default('')==role%}selected{%endif%}>{{role}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- Submit -->
    {% if allow_edit %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input id="submit"
                   type="submit"
                   class="form-control btn btn-primary">
        </div>
    </div>
    {% endif %}
</form>
{%- endmacro %}