{% macro form(model, action='', allow_edit=true) -%}
<form action="{{ action }}" method="post" class="form-horizontal">
    <!-- User name field -->
    <div class="form-group">
        <input name="name"
               class="form-control"
               placeholder="Name"
               value="{{ model.name }}"
               autocomplete="off"
               {%if not allow_edit%}readonly{%endif%}>
    </div>

    <!-- User login field -->
    <div class="form-group">
        <input name="login"
               class="form-control"
               placeholder="Login"
               value="{{ model.login }}"
               autocomplete="off"
               {%if not allow_edit%}readonly{%endif%}>
    </div>

    <!-- User password field -->
    <div class="form-group">
        <input name="password"
               class="form-control"
               placeholder="Password"
               value="{{ model.password }}"
               autocomplete="off"
               {%if not allow_edit%}readonly{%endif%}>
    </div>

    <!-- User role field -->
    <div class="form-group">
        <select name="role" class="selectpicker form-control" title="Choose a role" {%if not allow_edit%}disabled{%endif%}>
            {% for role in roles %}
                {{ "'" + model.role + "' '" + role + "'" }}
                <option {%if model.role==role%}selected{%endif%}>{{role}}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Submit button -->
    {% if allow_edit %}
    <div class="form-group">
        <input id="submit"
               type="submit"
               class="form-control btn btn-primary">
    </div>
    {% endif %}
</form>
{%- endmacro %}