{% extends "general.html" %}

{% block body %}
<table id="users-list" class="table">
    <thead>
        <tr>
            <th>Name</th>
            {% if show_actions %}
            <th>Actions</th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for user in users %}
        <tr data-key="{{ user._id }}">
            <td>
                <a href="/users/{{ user._id }}" data-key="{{ user._id }}">{{ user.name }}</a>
            </td>

            {% if show_actions %}
            <td>
                {% if show_delete %}
                <a class="delete" data-key="{{ user._id }}">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if show_create %}
    <a id="new-user" href="/users/new" class="btn btn-primary">Add</a>
{% endif %}

<script>
$(document).ready(function() {
    $(".delete").on("click", function (e) {
        e.preventDefault();
        var key = $(this).data("key");
        $.ajax({
            url: "/users/"+key,
            type: 'DELETE',
            success: function(result) {
                 if (result["success"] === true) {
                    $("tr[data-key='" + key + "'").remove();
                }
            }
        });
    });
});
</script>
{% endblock %}
