{% extends "general.html" %}

{% block body %}
<script src="/static/run_controller.js"></script>

<div id="stage"></div>

<ul id="run-users-list"></ul>

<ul id="messages"></ul>

<input id="chat-message" type="text">

<script id="session-key" type="text">
{{session._id}}
</script>

<script id="stage-template" type="text/x-handlebars-template">
{% raw %}
    {{# if proposal }}
    <h1>{{ proposal.title }}</h1>
    <div>{{ proposal.content }}</div>
    {{/if}}

    {{# if closed }}
    <h1>Session is closed</h1>
    {{/if}}
{% endraw %}
</script>
{% endblock %}
