{% extends "general.html" %}

{% block body %}

<ul id="run-users-list">
</ul>

<ul id="messages">
</ul>
<input id="chat-message" type="text">


<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'}, function (answer) {
            console.log(answer);
        });
    });

    socket.on('users', function (data) {
        $("#run-users-list").empty();

        for (user of data) {
            $("#run-users-list").append("<li>" + user + "</li>");
            //console.log("users: ", user);
        }
    });

    socket.on('chat', function (data) {
        console.log(data);
        $("#messages").append("<li>" + data["who"] + ": " + data["msg"] + "</li>");
    });


    $('#chat-message').keypress(function (e) {
        if (e.which == 13) {
            say();
            return false;    //<---- Add this line
        }
     });

    function say() {
        var msg = $("#chat-message").val();
        socket.emit("chat", { msg: msg });
        $("#chat-message").val("");
    }
</script>
{% endblock %}