{% macro session_panel(session) -%}
    {% set is_active = (session.status == 'run') %}
    {% set is_closed = (session.status == 'closed') %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" data-session-id="{{session._id}}">
                {{ session.date }}: {{ session.title }}
                {% if is_closed %} (Closed) {% endif %}

                {% if is_active and user_has_permission("session.join") %}
                <a href="/session/{{session._id}}" class="btn btn-xs btn-default btn-join-session pull-right">Join</a>
                {% endif %}
            </h3>
        </div>

        {%if session.agenda %}
        <div class="panel-body">
            {{ session.agenda }}
        </div>
        {%endif%}
    </div>
{% endmacro %}
