{% macro session_panel(session) -%}
    {% set is_active = (session.status == 'run') %}
    {% set is_closed = (session.status == 'closed') %}
    <div class="panel {% if is_active %}panel-success{% else %}panel-primary{%endif%}">
        <div class="panel-heading">
            <h3 class="panel-title" data-session-id="{{session._id}}">
                {{ session.date }}
                {{session.time_start}}
                {% if session.time_end %}
                    - {{session.time_end}}
                {% endif %}:
                {{ session.title }}
            </h3>
        </div>

        <div class="panel-body">
            <p>{{ session.agenda }}</p>

            {% if is_active and user_has_permission("session.join") %}
            <center>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a href="/session/{{session._id}}" class="btn btn-lg btn-warning btn-join-session">Join</a>
                </div>
            </center>
            {% endif %}
        </div>
    </div>
{% endmacro %}
