{% extends "general.html" %}
{% set active_page = "profile" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {% for session in sessions %}
        {% set is_active = (session.status == 'run') %}
        {% set is_closed = (session.status == 'closed') %}
        {% set header_class = 'warning' if is_active else 'danger' if is_closed else 'default' %}

        <div class="panel panel-{{header_class}}">
            <div class="panel-heading">
                <h3 class="panel-title" data-session-id="{{session._id}}">
                    {{ session.date }}: {{ session.title }}
                    {% if is_closed %} (Closed) {% endif %}
                    {% if is_active and user_has_permission("session.join") %}
                        <a href="/session/{{session._id}}" class="btn btn-xs btn-default pull-right">Join</a>
                    {% endif %}
                    {% if is_active and user_has_permission("session.manage") %}
                        <a href="/session/{{session._id}}/manage" class="btn btn-xs btn-default pull-right">Manage</a>
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body">
                {{ session.agenda }}
            </div>

            <table class="table">
            {% for proposal in session.proposals %}
                <tr>
                    <td>
                        <a href="/proposals/{{proposals.get(proposal)._id}}">{{ proposals.get(proposal).title }}</a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    {% endfor %}
{% endblock %}
