{% extends "general.html" %}
{% set active_page = "profile" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

{% if active|length > 0 %}
    <h2>Active sessions</h2>

    {% for session in active %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ session.title }}
                    <a href="/run/{{session._id}}" class="btn btn-xs btn-default pull-right">Join</a>
                </h3>
            </div>
            <div class="panel-body">
                {{ session.agenda }}
            </div>
        </div>
    {% endfor %}
{% endif %}


{% if upcoming|length > 0 %}
    <h2>Upcoming sessions</h2>
    {% for session in upcoming %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ session.date }}: {{ session.title }}
                </h3>
            </div>
            <div class="panel-body">
                {{ session.agenda }}
            </div>
        </div>
    {% endfor %}
{% endif %}

<p>
    <a href="/account/logout" class="btn btn-danger">Logout</a>
</p>
{% endblock %}
