{% extends "general.html" %}

{% block body %}
    <p>
        <a href="/account/logout" class="btn btn-danger">Logout</a>
    </p>

    <form action="/account/" method="post" class="form-horizontal">
        <div class="form-group">
            <input name="name"
                   class="form-control input-lg"
                   placeholder="Name"
                   value="{{ current_user.name }}"
                   autocomplete="off">
        </div>

        <div class="form-group">
            <input type="submit"
                   class="form-control">
        </div>
    </form>
{% endblock %}
