{% extends "general.html" %}
{% set active_page = "profile" %}

{% block title %}Edit profile{% endblock %}

{% block body %}
<form action="/account/" method="post" class="form-horizontal">
    <div class="form-group">
        <input name="name"
               class="form-control input-lg"
               placeholder="Name"
               value="{{ current_user.name }}"
               autocomplete="off">
    </div>

    <div class="form-group">
        <input type="submit"
               class="form-control">
    </div>
</form>
{% endblock %}
