{% extends "general.html" %}
{% set active_page = "profile" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {% for session in sessions %}
        {% set is_active = (session.status == 'run') %}
        {% set header_class = 'panel-warning' if is_active else 'panel-default' %}

        <div class="panel {{header_class}}">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ session.title }}
                    {% if is_active %}
                        <a href="/run/{{session._id}}" class="btn btn-xs btn-default pull-right">Join</a>
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body">
                {{ session.agenda }}
            </div>

            <table class="table">
            {% for proposal in session.proposals %}
                <tr>
                    <td>
                        <a href="/proposals/{{proposals.get(proposal)._id}}">{{ proposals.get(proposal).title }}</a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    {% endfor %}


<p>
    <a href="/account/logout" class="btn btn-danger">Logout</a>
</p>
{% endblock %}
